*{

}

body {
    
    background-color: rgb(235, 235, 247);
}

h1 {

    text-align: center;
    background-color: rgb(209, 196, 238);
    border-bottom: 5px solid black;

}

img {

    border: black 2px solid;

}

#image {

    text-align: right;
    margin-right: 60px;
}

ul {

    list-style-type: none;
    text-align: center;
    
}

li {


   border-left: 5px solid #ff5733;
   padding-left: 10px; 
   display: inline;
}


p:first-child{

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image: url('../images/fondoParrafo.png');
    
  
}

p:nth-child(2){

    
  
}

p:nth-child(3){

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  
}

#header {
  
}

#content{
  
}

#text {
  
}

#text p {

    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    text-indent: 40px;
    border: 4px dashed black;
    background-color: rgb(210, 175, 250);
    margin-right: 60px;
    box-shadow: 5px 5px 5px #353434;
    
    
  
}

#text p:first-child {
  
}

#text p:last-child {

}

#menu {

}

#menu a{

}


#menu li{

}

#menu li a:hover{

    text-decoration: underline red;
}

#footer{

    text-align: center;
    color: white;
    background-color: rgb(54, 36, 148);
    border-top: 5px solid black;

}

#footer a{

    color: white;

}

#footer a:hover{

    
}
#image {

}

@media all and (max-width: 500px) {

    img {
    border: red 2px solid;
    width: 90%;
    text-align: center;
    }
}
