#solucion{

    color: red;
    font-size: 25px;
    font-weight: bold;

}

#numero1{

    color: rgb(111, 0, 255);
    font-size: 15px;
    font-weight: bold;

}

#numero2{

    color: rgb(111, 0, 255);
    font-size: 15px;
    font-weight: bold;

}