*{
  margin: 0px auto;
}

body {
  background: url('../images/fondo2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
}



h1, h2 {
  text-align: center;
}

img {
  border: dashed 5px #FF9900;
  margin: 10px;
}

ul {
  color: white;
}

p {
  margin-bottom: 5px;
}

#header {
  margin-top: 35px;
  text-align: center;
  background-color: #6c9f95;
  border-bottom: 5px solid  rgb(20, 95, 37);
  
  color: white;
  padding-top: 10px;
}

#content{
  
}

#menu {

  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;  
  background-color: #5fbea5;
  border-bottom: 5px solid rgb(20, 95, 37);
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
}

#menu a{
  color: white;
  text-decoration: none;
}


#menu li{
  display: inline;
  padding-left: 5px;  
}

#menu li a:hover{

  background-color: #3d8547;
  text-decoration: underline 5px rgb(20, 95, 37);
}

#footer{

  
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #41917b;
  text-align: center;
  color: white;
  border-top: 5px solid rgb(20, 95, 37);
  clear: both;
}

#footer a{
  color: white;
  text-decoration: none;
}

#footer a:hover{
  color: #443266;
  background-color: white;
  text-decoration: none;
}
#image {
  text-align: right;
  margin-right: 60px;
}

#menulateral {

  float: right;
  text-align: center;  
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 10px;
  width:50px;
  margin-top: 25px;
  border-left: 5px solid black;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background-color: #dbdbdb;
  border-radius: 70px;
  
}

#logo {

  float: right;
  text-align: center;  
  padding-bottom: 5px;
  width:50px;
  margin-top: 25px;
  border: none;
}

#imageLeft {

  float: left;
  text-align: center;  
  padding-bottom: 5px;
  width:13%;
  margin-top: 25px;
}

#imageRight {
    
    
  float: right;
  text-align: center;  
  padding-bottom: 5px;
  width: 55%;

}

#textMain {

  clear: both;
  
}

#imageToHide {

  float: left;
  text-align: center;
  margin-bottom: 40px;
}

#textCookie {
  text-align: center;
}

#cookieEU {
 
  margin-right: 9%;
  margin-left: 9%;
  position: absolute;
  margin-top: 11%;
  border:2px solid red;
  background-color: white;
  margin-bottom: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 50px black;
}

#textOverflow {

  overflow: scroll;
  overflow-y: scroll;
  height: 250px;
  text-align: justify;
  border: 5px solid black;
  background-color: white;
  padding: 20px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 40px;
  margin-bottom: 50px;
  
}

#textCentral {
  margin-top: 10px;
  padding: 15px;
  border: 5px solid rgb(114, 214, 134);
  background-color: white;
  margin: 30px 250px ;
  border-radius: 30px 30px 30px 30px ;    
}

.button {
  	background-color: #097054; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}



@media all and (max-width: 500px) {
  
  #header {
    margin-top: 37px;
  }

  #imageLeft {
    width: 90%;
  }

   #imageRight { 
    width: 60%;
    margin-top: 0px;
    float: none;
  }

  #textCentral {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
  #textOverflow {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 90px;
  }

 
}

@media all and (max-width: 300px) {

  #header {
    margin-top: 60px;
  }

  #imageLeft {
    width: 90%;
  }

   #imageRight { 
    width: 60%;
    margin-top: 0px;
    float: none;
  }

  #textCentral {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
  #textOverflow {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 90px;
  }

  

  
}