body {

    background-image: url("../images/fondo.jpg");
    text-align: center;
    background-size: cover;
    overflow: hidden;
    
    
}

h1 {

    text-align: center;
    background-color: #c7ccd4; 
    color: white;
    border-left: solid 10px rgb(250, 71, 71);
    
}

img {

    border-radius: 25px;
    border: 6px solid black;
    box-shadow: 5px 5px 5px  #000000;
    width: 500px;
    height: 500px;
    
}

ul {

    
}

li {

    list-style-type: none;
    display: inline-block;
    border: 1px solid black;
    margin-right: 10px;

}

